#redex {
    resize: none;
}
.control-label {
    margin-bottom: 15px !important;
}

#btnSubmit {
    margin-top:15px;
}

#tour .w3-container {
    max-width:800px
}

th:nth-child(2), td:nth-child(2){
    text-align: center !important;
}

th:nth-child(3), td:nth-child(3) {
    text-align: right !important;
}
